* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: black;
    font-family: "PT Sans", sans-serif;
    overflow-x: hidden;
}
.review-form-section{
    display: none;
}

.review-form {
    display: flex;
    padding: 2rem 0rem;
    gap: 2rem;
    align-items: center;
    height: 45rem;
    width: 40rem;
    margin: 2rem auto;
    background-color: white;
    flex-direction: column;
}

.form-heading {
    color: #0622fa;
    font-size: 2rem;
}

.user-name-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.review-inputs {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.user-name-input label {
    font-size: 1.3rem;
}

.user-name-input input {
    padding: 0.7rem 2rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    border: 2px solid #0622fa;

}
.text-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.text-area textarea{
 padding: 1rem;
 font-size: 1rem;
 border: 2px solid #0622fa;
}
.form-btn button{
    padding: 1rem;
   padding: 1rem 3rem;
   margin-top: 1rem;
    
    background-color: #0622fa;
    color: white;
    border-radius: 1rem;
    border: none;
}
.separation {
    height: 1px;
    background-color: #0622fa;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 6.5rem;
    gap: 3rem;

}

.review-sec-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2.1rem;
    max-width: 80rem;
}

.review-sec-heading :nth-child(1) {
    font-size: 3.5rem;
    font-weight: 900;
    color: #0622fa;
}

.review-sec-heading :nth-child(2) {
    color: white;
    font-size: 1.8rem;
}

.review-cards {

    display: flex;
    flex-wrap: wrap;
}

.card {

   margin: 2rem 2rem;
    width: 36rem;
    height: 16rem;
    background-color: white;
    border-radius: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 2rem 1rem;
    gap: 3REM;
    transition: 1s;
}

.user-name {
    color: #0622fa;
    font-weight: bolder;
}

.user-gmail {
    color: #0622fa;
    font-weight: bolder;
}

.moving-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moving-btns button {
    background-color: #0622fa;
    color: white;
    padding: 1rem;
    border-radius: 3.3rem;
    z-index: 100;
    position: relative;
    top: 8rem;
    border: none;
}

.moving-btns img {
    height: 3rem;
}

.add-review-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-review-btn button {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #0622fa;
    color: wheat;
    border: none;
}